html,
body {
    height: 100%;
    font-family: "Lato";
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

/**************** Parte 1 - Navbar ****************/
/* Navbar */
.navbar-inverse{
  background-color: #E01F26 !important;
  color:#FFF;
  border-color: #E01F26 !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #FFF;
}

/* Color de la fuente del Menu*/
.navbar-inverse .navbar-nav > li > a{
  color:#FFF !important;
}

.navbar-toggle{
  background-color: #610B0B !important;
}

.navbar-inverse .navbar-toggle{
  border-color: white !important;
}

/* Media Query - Min 768px*/
@media (min-width: 768px){
  /* Navbar */
  /*.navbar-nav{
    margin-left: -280px !important;
    margin-right: 240px !important;
  }
  margin-left: 25%;
  margin-right: -30%;
  */

  .navbar-nav {
    float: left;
    padding-bottom: 30px;
    margin-top: -15px !important;
    margin-left: 100px;
  }

  /* Bordes del Menú*/
  li.border {
    float: left;
    margin-right: 0px;
    border-right: 3px solid #FFF;
    padding: 0 20px;
  }

  .navbar .navbar-inverse{
    height: 10% !important;
  }

  /*Quienes Somos */
  .quienesSomos{
    background: url('../img/backgrounds/Artboard1.png');
  }

  /* Nuestras Soluciones - GPS */
  .GPS{
    background: url('../img/backgrounds/Artboard2.png');
  }

  /* Nuestras Soluciones - TMT */
  .TMT{
    background: url('../img/backgrounds/Artboard3.png');
  }

  /* Nuestras Soluciones - SAT */
  .SAT{
    background: url('../img/backgrounds/Artboard2.png');
  }

}

/**************** Parte 2  - Carrusel****************/

.carousel-inner {
    height: 100%;
}

.carousel-indicators li{
  width: 25px !important;
  height: 25px !important;
  border-radius: 20px;
}
.carousel-indicators .active {
  width: 27px !important;
  height: 27px !important;
}
/**************************** Parte 3 - Boton Vamos *************************/

.botonVamos{
  text-align: center;
  color: #fff;
  margin-top: -13%;
}


.botonVamos h2{
  display: inline-block;
  height: 45px;
  width: 25%;
  font-weight: 800;
  text-align: center;
  color: #FFF !important;
  border: 3px solid #FFF !important;
}


/************************* Parte 4 - Mision y Vision ************************/

/* Titulo de todas las secciones*/
.titulo{
  font-weight: 800;
  margin-top:70px;
  text-align: center;
  color: #424143;
  font-size: 1.8em;
}

.titulo span{
   color: #E01F26;
}

/* Texto */
.texto{
 font-size: 1.5em;
 text-align: left;
 color: #595A5C;
}

/* Imagen Circulos */
.imgCirlulos{
 margin-top: 70px !important;
 display: block;
 margin: auto;
 margin-bottom: 50px !important;
}

/* Linea Division hr: Mision y Vision y Quienes Somos */
.division{
  width: 10%;
  height: 5px;
  background-color: #424143;
  border-top: none !important;
}

/* Linea Division hr: Nuestra Presencia, Nuestras Soluciones, Contáctanos */
.division2{
  width: 5%;
  height: 5px;
  background-color: #424143;
  border-top: none !important;
}


/************ Parte 5 - Quienes Somos ***************/

.quienesSomos{
  background-color: #CCCCCE;
  margin-top: 1%;
}

/* Video Disatel */
.videoDisatel{
  width: 100%;
  border: 15px solid black !important;
}

/************ Parte 6 - Nuestra Presencia *************/
.nuestraPresencia{
  background-color: #CCCCCE;
}

/* Bandera */
.bandera{
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
}

/* Pais */
.pais{
  color: #FFF;
  font-size: 2em;
  display: inline-block;
}

/* Nuestra Presencia - Mapa */
.mapa{
  margin-top: 10% !important;
  margin-bottom: 5% !important;
}

.mexico{
  margin-top: 25% !important;
}

/************** Parte 7 - Nuestras Solcuiones - Botones ***************/
/* Rectangulo 1 */
.rectangulo1{
  width: 85%;
  margin-left: 8%;
}
/* Botones */
.nuestrasSolucionesBtns{
  background-color: #FFF;
}

/* Botones */
.soluciones{
  display: block;
  margin: auto;
}

/* Rectangulo 2 */
.rectangulo2{
  /*margin-top: 32%;*/
  width: 85%;
  margin-left: 8%;
}
/******************* Parte 8 - Nuestras soluciones - Descripcion ***********/

/* Logos */
.solucionesLogos{
  display: inline-block;
  margin: auto;
  margin-top: 16%;
}

.tituloSoluciones{
  font-weight: 800;
  margin-top: 5%;
  text-align: left;
  color: #E01F26;
  font-size: 1.5em !important;
}

/* Texto */
.textoSoluciones{
 font-size: 1.5em;
 text-align: left;
 color: #595A5C;
 margin-top: -4%;
}

/* Boton Soluciones */
.botonSoluciones{
  width: 250px;
  height: 50px;
  background-color: #E01F26;
  border: 2px solid #E01F26;
  margin-top: 24% !important;
  margin-bottom:  10%;

}

/*Boton Soluciones Texto*/
.botonSoluciones p{
  font-size: 1.5em;
  text-align: center;
  color: #FFF;
  margin-top: 7px;
}

/* Linea Division - Servicios hr */
.divisionSoluciones{
  width: 15%;
  height: 5px;
  margin-left: 1px;
  background-color: #E01F26;
  border-top: none !important;
}

/* Flechas */
.flechas{
  width: 38%;
  float: right;
  padding-bottom: 2%;
}

/* Soluciones Imagenes */
.solucionesImg{
  float: right;
  padding-bottom: 2%;
}

.nuestrasSolucionesDesc{
  background-color: #EEE;
}


/**************** Parte 11 - Disatel Logo ****************/
/* Footer 1 - Gris */

.disatelLogo{
  margin-top: 5% !important;
  align-items: center;
  margin: auto;
}

/* Footer2 - Rojo */
.disatelFooter2{
  background-color: #e11b22;
  height: 20px;
margin-top: -1%;
}

/**************************** Media Querys *****************************/
@media (max-width: 1090px){
  .botonSoluciones{
    margin-top: 0% !important;
  }
}

@media (max-width: 768px){

  /* Carrusel */
  .carousel{
    height: 500px !important;
  }

  /* Navbar - Logo Disatel*/
  .logo{
    width: 75px;
    height: 30px;
    margin-top: -5px;
  }

  /* Boton Vamos */
  .botonVamos h2{
    height: 34px !important;
    width: 25% !important;
    font-size: 20px;
    margin-top: 19%;
  }

  .botonVamos{
    margin-top: 10px;
    font-size: 10px;
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    margin-top: -30%;
  }

  /* Nuestra Presencia - Mapa */
  .mapa{
    display: none;
  }

  .mexico{
    margin-top: 55%
  }

  /* Flechas de Nuestras Secciones */
    .flechas{
      display: none;
    }

    /* Logos Soluciones Disatel*/
    .solucionesLogos{
      display: none !important;
    }

    /* rectangulo 1 - Cuadro Blanco - Nuestra Presencia */
    .rectangulo1{
      display: none;
    }

    /* rectangulo 2 - Cuadro Blanco - Nuestra Presencia */
    .rectangulo2{
      display: none;
    }

    /* Titulo Soluciones */
    .tituloSoluciones{
      margin-left: 1%;
    }

    /* Division Soluciones */
    .divisionSoluciones{
      margin-left: 1%;
    }

    /* Texto Soluciones */
    .textoSoluciones{
      margin-left: 1%;
    }

    /* Boton Ver Producto */
    .botonSoluciones{
      width: 305px !important;
      height: 50px !important;
      margin-top: 5% !important;
      margin-left: 1%;
    }

}




@media (max-width: 360px){
  /* Boton Vamos */
  .botonVamos{
    margin-top: -60% !important;
  }

  /* Boton Vamos */
  .botonVamos h2{
    height: 5% !important;
    width: 30% !important;
    font-size: 15px;
    margin-top: 46%;
  }

  botonVamos h2{
      height: 25px !important;
      width: 100px !important;
      font-size: 15px;
      margin-top: 145px;
  }

  /* Titulo */
  .tituloSoluciones{
    margin-top: -5% !important;
    margin-left: 0% !important;
  }

  /* Boton Ver Producto */
  .botonSoluciones{
    width: 100% !important;
    margin-bottom:  10% !important;
    margin-left: 0% !important;
  }

  /* Nuestra Presencia */
  .nuestraPresenciaMapa{
    padding-bottom: 6%;
  }

  .mexico{
    margin-top: 5% !important;
  }

  /* Footer Rojo */
  .disatelFooter2 {
    margin-top: -3%;
}

}
