/* Body */
body {
  font-family: "Lato", Helvetica;
}
/* Menú */
.menu{
  background-color: red;
  padding-top:1%;
  padding-bottom: 1%;
}

/* Menú Opciones */
* {
  margin: 0;
  padding: 0;
}

nav {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

li.border {
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li {
  float: left;
  margin-right: 0px;
  padding: 0 20px;
}

li a {
  text-decoration: none;
  color: #FFF;
  font: 14px/1 "Lato", Helvetica;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

/* Carrusel */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

/*body .sec1 {
    background-image: url(..\image\CARATULA\267771884bn2.jpg);
    background-color: #272524;
}*/
