html,
body {
    height: 100%;
    font-family: "Lato";
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

/**************** Parte 1 - Navbar ****************/
/* Navbar */
.navbar-inverse{
  background-color: #E01F26 !important;
  color:#FFF;
  border-color: #E01F26 !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #E01F26 !important;
}

/* Color de la fuente del Menu*/
.navbar-inverse .navbar-nav > li > a{
  color:#FFF !important;
}

.navbar-toggle{
  background-color: #E01F26 !important;
}

.navbar-inverse .navbar-toggle{
  border-color: #E01F26 !important;
}

.navbar-inverse .navbar-toggle{
  border-color: none !important;
}

/* Media Query - Min 768px*/
@media (min-width: 768px){
  /* Navbar */
  .navbar-nav{
    padding-left: 5%;
    margin-right: -20%;
  }
  /*margin-left: 25%;
  margin-right: -30%;
  */

  .navbar-nav {
    float: left;
    padding-bottom: 30px;
    margin-top: -15px !important;
    margin-left: 100px;
  }

  /* Bordes del Menú*/
  li.border {
    float: left;
    margin-right: 0px;
    border-right: 3px solid #FFF;
    padding: 0 20px;
  }

  .navbar .navbar-inverse{
    height: 10% !important;
  }

  /* Boton Vamos */
  .botonVamos{
    padding-top: 1.5% !important;
    padding-bottom: 30px;
  }

  /*Quienes Somos */
  .quienesSomos{
    background: url('../img/backgrounds/Artboard1.png');
  }

  /* Nuestras Soluciones - GPS */
  .GPS{
    background: url('../img/backgrounds/Artboard2.png');
  }

  .GPS .botonSoluciones{
    margin-top: 27% !important;
  }

  /* Nuestras Soluciones - TMT */
  .TMT{
    background: url('../img/backgrounds/Artboard3.png');
  }

  .TMT .botonSoluciones{
    margin-top: 20.3% !important;
  }

  /* Nuestras Soluciones - SAT */
  .SAT{
    background: url('../img/backgrounds/Artboard2.png');
  }

  /* Nuestras Soluciones - VIDEO */
  .VIDEO{
    background: url('../img/backgrounds/Artboard3.png');
  }

  /* Nuestras Soluciones - MOVIL */
  .MOVIL{
    background: url('../img/backgrounds/Artboard2.png');
  }

  .MOVIL .botonSoluciones{
    margin-top: 27.7% !important;
  }

  /* Nuestras Soluciones - LOCK */
  .LOCK{
    background: url('../img/backgrounds/Artboard3.png');
  }

  .LOCK .botonSoluciones{
    margin-top: 31% !important;
  }

  /* Nuestras Soluciones - WIFI */
  .WIFI{
    background: url('../img/backgrounds/Artboard2.png');
  }

  /* Nuestras Soluciones */
  .nuestrasSolucionesDesc{
    padding-right: 10%;
    padding-bottom: 5%;
  }

  /* CheckList */
  .checkMOVIL{
    margin-left: 25% !important;
  }

  .checkLOCK{
    margin-left: 13% !important;
  }

  .checkWIFI{
    margin-left: 16% !important;
  }

}

/**************** Parte 2  - Carrusel****************/

.carousel-inner {
    height: 100%;
}

.carousel-indicators li{
  width: 25px !important;
  height: 25px !important;
  border-radius: 20px;
}
.carousel-indicators .active {
  width: 27px !important;
  height: 27px !important;
}

/* Animacion Banner */
.world{
    position: absolute;
    display: block;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: auto;
    max-width: 500px;
    animation: world 3s infinite;
}

.logo-slide{
    position: absolute;
    display: block;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 70%;
}

@keyframes world{
    0%{
        transform: scale(1) rotate(0deg);
/*        transform: rotate(0deg);*/
    }
    50%{
        transform: scale(0.6) rotate(180deg);
/*        transform: rotate(360deg);*/
    }
    100%{
        transform: scale(1) rotate(360deg);
/*        transform: rotate(0deg);*/
    }
}

.item.main .fill{
    background-position: top;
    background-color: #E01F26;
    background-blend-mode: multiply;
}

/**************************** Parte 3 - Boton Vamos *************************/

.botonVamos{
  text-align: center;
  padding-top: 3%;
}


.botonVamos h2{
  margin: auto;
  height: 50px;
  max-width: 250px;
  font-weight: 800;
  color: #FFF !important;
  border: 3px solid #FFF !important;
  font-size: 2.5em;

}

.extra-row{
    background-color: #E01F26;
}

.cornerRojo1{
  margin-top: -1px;
}
/************************* Parte 4 - Mision y Vision ************************/

/* Titulo de todas las secciones*/
.titulo{
  font-weight: 800;
  margin-top:70px;
  text-align: center;
  color: #424143;
  font-size: 1.8em;
}

.titulo span{
   color: #E01F26;
}

/* Texto */
.texto{
 font-size: 1.5em;
 text-align: left;
 color: #595A5C;
}

/* Imagen Circulos */
.imgCirlulos{
 margin-top: 70px !important;
 display: block;
 margin: auto;
 margin-bottom: 50px !important;
}

/* Linea Division hr: Mision y Vision y Quienes Somos */
.division{
  width: 10%;
  height: 5px;
  background-color: #424143;
  border-top: none !important;
}

/* Linea Division hr: Nuestra Presencia, Nuestras Soluciones, Contáctanos */
.division2{
  width: 5%;
  height: 5px;
  background-color: #424143;
  border-top: none !important;
}


/************ Parte 5 - Quienes Somos ***************/

.quienesSomos{
  background-color: #CCCCCE;
  margin-top: 1%;
}

/* Video Disatel */
.videoDisatel{
  width: 100%;
  border: 15px solid black !important;
}

/************ Parte 6 - Nuestra Presencia *************/
.nuestraPresencia{
  background-color: #CCCCCE;
}

/* Bandera */
.bandera{
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
}

/* Pais */
.pais{
  color: #FFF;
  font-size: 2em;
  display: inline-block;
}

/* Nuestra Presencia - Mapa */
.mapa{
  margin-top: 10% !important;
  margin-bottom: 5% !important;
}

.mexico{
  margin-top: 25% !important;
}

/************** Parte 7 - Nuestras Solcuiones - Botones ***************/
/* Rectangulo 1 */
.rectangulo1{
  width: 85%;
  margin-left: 7%;
}
/* Botones */
.nuestrasSolucionesBtns{
  background-color: #FFF;
}

/* Botones */
.soluciones{
  display: block;
  margin: auto;
}

/* Rectangulo 2 */
.rectangulo2{
  width: 86.3%;
  margin-left: 6.3%;
}
/******************* Parte 8 - Nuestras soluciones - Descripcion ***********/

/* Logos */
.solucionesLogos{
  display: inline-block;
  margin: auto;
  margin-top: 16%;
}

.tituloSoluciones{
  font-weight: 800;
  margin-top: 5%;
  text-align: left;
  color: #E01F26;
  font-size: 1.5em !important;
}

/* Texto */
.textoSoluciones{
 font-size: 1.5em;
 text-align: left;
 color: #595A5C;
 margin-top: -4%;
}

/* Boton Soluciones */
.botonSoluciones{
  width: 250px;
  height: 50px;
  background-color: #E01F26;
  border: 2px solid #E01F26;
  margin-top: 24% !important;

}

/*Boton Soluciones Texto*/
.botonSoluciones p{
  font-size: 1.5em;
  text-align: center;
  color: #FFF;
  margin-top: 7px;
}

/* Linea Division - Servicios hr */
.divisionSoluciones{
  width: 15%;
  height: 5px;
  margin-left: 1px;
  background-color: #E01F26;
  border-top: none !important;
}

/* Flechas */
.flechas{
  width: 38%;
  float: right;
  padding-bottom: 2%;
}

/* Soluciones Imagenes */
.solucionesImg{
  float: right;
  padding-bottom: 2%;
}

.nuestrasSolucionesDesc{
  background-color: #EEE;
}

.nuestrasSolucionesTitulo{
  background-color: #EEE;
}

/**************** Parte 9  - Contactanos Formularios ****************/
/* Contenedor del Formulario*/
.formulario{
  background: -webkit-linear-gradient(0deg, #FFF, #EEE, #CCCCCE);
  margin-bottom: 10%;
}

.formulario .row{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.form-row{
  margin-bottom: 10px;
}

/* Input Text - Nombre, Pais, Telefono */
input[type="text"]{
  height: 50px;
  width: 100%;
  color: black;
  border: 1px solid #E01F26;
  padding-left: 3%;
}

input[type="text"]::-webkit-input-placeholder{
  color: #E01F26;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

/* Mozilla */
input[type="text"]::-moz-placeholder{
  color: #E01F26;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

/* Input Email - Email */
input[type="email"]{
  height: 50px;
  width: 100%;
  color: black;
  border: 1px solid #E01F26;
  padding-left: 3%;
}

input[type="email"]::-webkit-input-placeholder{
  color: #E01F26;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

/* Mozilla */
input[type="email"]::-moz-placeholder{
  color: #E01F26;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}


/* Input checkbox - Soluciones */
.spanSoluciones{
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #FFF;
  color: #E01F26;;
  margin-left: 3%
}

.division3{
  width: 100%;
  height: 2px;
  background-color: #E01F26;
  border-top: none !important;
}

/* checkboxList */
.checkboxList{
  width: 100%;
  font-weight: bold;
  border: 1px solid red;
  background-color: #FFF;
  padding-top: 3%;
  color: #E01F26;
  padding-bottom: 3%;
}

/* Checkbox list 1 */
.list{
  margin-bottom: 2%;
  display: inline;
  padding-left: 3%;
}

input[type="checkbox"]{
  background-color: #FFF;
  border: 1px solid #E01F26;
}

/* Text Area */
textarea{
  height: 368px;
  width: 100%;
  color: black;
  border: 1px solid #E01F26;
  font-size: 1em;
  padding-left: 3%
}

/* Chrome */
textarea::-webkit-input-placeholder{
  color: #E01F26;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

/* Mozilla */
textarea::-moz-placeholder{
  color: #E01F26;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

/*Boton Enviar */
.enviar{
  margin-top: 0% !important;
  width: 100%;
}

/********************* Parte 10 - Contactanos Numeros *****************/
.contTelefonos{
  background-color: #CCCCCE;
}

/* Titulo Paises */
.tituloPaises{
  font-weight: 800;
  margin-top: 5%;
  text-align: left;
  color: #E01F26;
  font-size: 2em !important;
}

/* Bloque de Contactos 1 */
.bloqueCont1{
  padding-left: 10%;
  padding-right: 10%;
}

/* Bloque de Contactos 2 */
.bloqueCont2{
  padding-left: 10%;
  padding-right: 10%;
}

/**************** Parte 11 - Disatel Logo ****************/
/* Footer 1 - Gris */

.disatelLogo{
  margin-top: 5% !important;
  align-items: center;
  margin: auto;
}

/* Footer2 - Rojo */
.disatelFooter2{
  background-color: #e11b22;
  height: 20px;
  margin-top: -1%;
}

/**************************** Media Querys *****************************/
@media (max-width: 1090px){
  .botonSoluciones{
    margin-top: 0% !important;
  }
}

@media (max-width: 768px){

  /* Carrusel */
  .carousel{
    height: 500px !important;
  }

  .item, .carousel-inner, .carousel{
      max-height: 450px;
  }

  /* Navbar - Logo Disatel*/
  .logo{
    width: 75px;
    height: 30px;
    margin-top: -5px;
  }

  /* Boton Vamos */
  .botonVamos h2{
    height: 40px !important;
    width: 200px !important;
    font-size: 1.8em !important;
  }

  /* Nuestra Presencia - Mapa */
  .mapa{
    display: none;
  }

  .mexico{
    margin-top: 55%
  }

  /* Flechas de Nuestras Secciones */
    .flechas{
      display: none;
    }

    /* Logos Soluciones Disatel*/
    .solucionesLogos{
      display: none !important;
    }

    /* rectangulo 1 - Cuadro Blanco - Nuestra Presencia */
    .rectangulo1{
      display: none;
    }

    /* rectangulo 2 - Cuadro Blanco - Nuestra Presencia */
    .rectangulo2{
      display: none;
    }

    /* Titulo Soluciones */
    .tituloSoluciones{
      margin-left: 1%;
    }

    /* Division Soluciones */
    .divisionSoluciones{
      margin-left: 1%;
    }

    /* Texto Soluciones */
    .textoSoluciones{
      margin-left: 1%;
    }

    /* Boton Ver Producto */
    .botonSoluciones{
      width: 305px !important;
      height: 50px !important;
      margin-top: 5% !important;
      margin-left: 1%;
      margin-bottom: 3%;
    }

    /* Bloque de Telefono 1*/
    .bloqueCont1 {
      padding-left: 30%;
      padding-right: 30%;
    }

    /* Bloque de Telefono 2*/
    .bloqueCont2 {
      padding-left: 30%;
      padding-right: 30%;
    }

    .checkboxList{
      margin-bottom: 10px;
    }

    .list {
      margin-bottom: 2%;
      padding-left: 3%;
      display: block;
    }
}

@media (max-width: 360px){

  /* Titulo */
  .tituloSoluciones{
    margin-top: -5% !important;
    margin-left: 0% !important;
  }

  /* Boton Ver Producto */
  .botonSoluciones{
    width: 100% !important;
    margin-bottom:  10% !important;
    margin-left: 0% !important;
  }

  /* Nuestra Presencia */
  .nuestraPresenciaMapa{
    padding-bottom: 6%;
  }

  .mexico{
    margin-top: 5% !important;
  }

  /* Footer Rojo */
  .disatelFooter2 {
    margin-top: -3%;
  }

  /* Bloque de Telefono 1*/
  .bloqueCont1 {
      padding-left: 15%;
      padding-right: 15%;
  }

  /* Bloque de Telefono 2*/
  .bloqueCont2 {
      padding-left: 15%;
      padding-right: 15%;
  }

}
